/*I used this to enable smooth scrolling and transitions for all the HTML elements I have used for my website.*/
html {
    scroll-behavior: smooth;
}

* {
    /* I set both the margin and padding to 0 pixels to remove the default margin and padding. */
    margin: 0px;
    padding: 0px;

    /* I set the background color for all elements to a light gray color with the hex color value "#f6f6f2". */
    background-color: #f6f6f2;

    /* I set the border to none to remove the default borders. */
    border:none;

    /* I set the text-decoration to none to remove the underlines from the text links. */
    text-decoration: none;

    /* To add a transition effect. */
    transition: .2s linear;
}

#Study-planner-div {
    /* I set the width to 90%. */
    width: 90%;

    /* I set the minimum height to 100 pixels. */
    min-height: 100px;

    /* I set the margin to auto to equally space all sides.*/
    margin: auto;
}

#Logo-and-Navigation-Bar-div {
    /* I set the display to flex. */
    display: flex;

    /* I set the flex-direction to row so that the elements would be arranged horizontally. */
    flex-direction: row;

    /* I set the width to 100% to ensure that it would span the entire width. */
    width: 100%;

    /* I set the minimum height to 50 pixels. */
    min-height: 50px;
}

/* Study Planner Logo*/
#Logo {
    /* I set the font size of the logo to 30 pixels and made it bold. */
    font-size: 30px;
    font-weight: bold;

    /* I set the color of the text to a shade of blue that has the hex color value "#388087". */
    color: #388087;

    /* I set the display to flex. */
    display: flex;

    /* I set the flex-direction to row so that the elements would be arranged horizontally. */
    flex-direction: row;

    /* I set the flex-basis to 50% so that it will take up 50% of the space. */
    flex-basis: 50%;

    /* To vertically align at the center. */
    align-items: center;

    /* I added 5% padding at the left. */
    padding-left: 5%;
}

/* Navigation Menu */
#Navigation-bar {
    /* I set the display to flex. */
    display: flex;

    /* To spread out the items horizontally. */
    justify-content: space-between;

    /* To center the items vertically. */
    align-items: center;

    /* I added 10 pixels of padding for both the top and bottom.*/
    padding: 10px;

    /* I set the background color of the navigation menu to a shade of blue that has the hex color value "#388087". */
    background-color: #388087;

    /* I made the navigation bar to have rounded corners by 10 pixels. */
    border-radius: 10px;
}

#Navigation-bar a {
    /* I set the color of the text to a shade of blue that has the hex color value "#388087". */
    color: #388087;

    /* I removed the underline line from the links. */
    text-decoration: none;

    /* I made the text to bold. */
    font-weight: bold;

    /* I added padding and margin between the links. */
    padding: 10px 20px;
    margin: 0 20px;

    /* To make the corners of the links rounded by 5 pixels. */
    border-radius: 5px;
}

#Navigation-bar a:hover {
    /* I set the background color of the links when hovered to a shade of light blue that has the hex color value "#BADFE7". */
    background-color: #BADFE7;
}

#Search-bar {
    /* I set the display of the search bar to flex. */
    display: flex;
}

#Search-bar input[type="text"] {
    /* I added 8 pixels of padding for the input field. */
    padding: 8px;

    /* To make the corners of the input field rounded by 5 pixels. */
    border-radius: 5px;

    /* To remove the default border. */
    border: none;

    /* I added a right margin between the input and button by 10 pixels. */
    margin-right: 10px;
}

#Search-bar button {
    /* I added 8 pixels of padding for the top and bottom. I then added 15 pixels of padding for the left and right side. */
    padding: 8px 15px;

    /* I set the background color of the button to a shade of light blue that has the hex color value "#BADFE7". */
    background-color: #BADFE7;

    /* I then set the color of the text to a shade of blue that has the hex color value "#388087". */
    color: #388087;

    /* I set the cursor to pointer so that the cursor would change into a pointer when hovered. */
    cursor: pointer;
}

#Search-bar button:hover {
    /* I then set the background-color of the button to a shade of blue that has the hex color value "#388087" when hovered. */
    background-color: #388087;

    /* And when hovered, the color of the text changes to white. */
    color: white;
}

#Banner-div {
    /* I set the display to flex. */
    display: flex;

    /* To horizontally and vertically center the content within the footer. */
    justify-content: center;
    align-items: center;

    /* I set the background color of the banner to a shade of light blue that has the hex color value "#BADFE7". */
    background-color: #BADFE7;

    /* I added 30 pixels of top margin and 20 pixels of padding. */
    margin-top: 30px;
    padding: 20px ;
}

.Header {
    /* To center aligned the text. */
    text-align: center;
}

.Header h1 {
    /* I set the font-size to 36 pixels. */
    font-size: 36px;

    /* I then set the color of the text to a shade of blue that has the hex color value "#388087". */
    color: #388087;

    /* I set the background color to a shade of light blue that has the hex color value "#BADFE7". */
    background-color: #BADFE7;

    /* I added 10 pixels of padding. */
    padding: 10px;

    /* I positioned it to relative. */
    position: relative;
}

.Header h1::after {

    /* To add content. */
    content: '';

    /* I set the position to absolute and the left to 0 to align it to the left edge. */
    position: absolute; 
    left: 0;

    /* I positioned the underline to -5 pixels to place it right below the text. */
    bottom: -5px;

    /* I set the width of the underline to 100% so that it would span the entire width. */
    width: 100%;

    /* I set the height of the underline to 2 pixels. */
    height: 2px;

    /* I set the background-color of the underline to white. */
    background-color: white;
}

.Header p {
    /* I set the font-size to 18 pixels and set its color to a shade of gray that has the hex color value #555. */
    font-size: 18px;
    color: #555;

    /* I set the background color to a shade of light blue that has the hex color value "#BADFE7". */
    background-color: #BADFE7;

    /* I added 10 pixels of top padding. */
    padding-top: 10px;
}

/* Main Content: Demo items 1-3 (Courses) */
.Courses {
    /* I added 10 pixels padding on all sides. */
    padding:10px;
}

.Courses #Courses-heading{
    /* I center aligned the text. */
    text-align: center;

    /* I set the color of the text to a shade of blue that has the hex color value "#388087" and set its font size to 50 pixels. */
    color:#388087;
    font-size: 50px;

    /* I added 10 pixels padding on all sides. */
    padding: 10px;
}

.Courses .Courses-container{
    /* I set the display to grid to have a grid layout and arrange the 3 boxes' whole layout. */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    /* To add 15 pixels of gap between the 3 boxes. */
    gap:15px;
}

.Courses .Courses-container .Courses-content{
    /* I set the background to white. */
    background: white;

    /* I center aligned the text and added a box-shadow effect. */
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

    /* I added 30 pixels of padding for the top and bottom. I then added 20 pixels of padding for the left and right side. */
    padding:30px 20px;
}

.Courses .Courses-container .Courses-content img{
    /* I set the height to 100 pixels. */
    height: 100px;
}

.Courses .Courses-container .Courses-content h2{
    /* I set the font size of the h2 to 22 pixels. */
    font-size: 22px;

    /* I set the color of the text to a shade of blue that has the hex color value "#388087". */
    color:#388087;

    /* I added 10 pixels padding on all sides. */
    padding:10px;

    /* I added 15 pixels of bottom margin.*/
    margin-bottom: 15px;
}

.Courses .Courses-container .Courses-content p{
    /* I then set the color of the text to a shade of blue that has the hex color value "#388087". */
    color: #388087;

    /* I set the size of the text to 15 pixels. */
    font-size: 15px;

    /* I set its line height to 1.5. */
    line-height: 1.5;
}

.Courses .Courses-container .Courses-content .Explore-Button{
    /* I set its display to in-line block and made its color to a shade of blue, which has the hex color value "#388087". */
    display: inline-block;
    background:#388087;

    /*I rounded its corners to 5 pixels*/
    border-radius: 5px;

    /* I added 20 pixels of top margin.*/
    margin-top: 20px;

    /* I set the text's color to white and set its size to 17 pixels */
    color:white;
    font-size: 17px;

    /* I added 8 pixels of padding for the top and bottom. I then added 25 pixels of padding for the left and right side. */
    padding: 8px 25px;
}

.Courses .Courses-container .Courses-content .Explore-Button:hover{
    /* I set the letter-spacing to 2 pixels when hovered. */
    letter-spacing: 2px;
}

.Courses .Courses-container .Courses-content:hover{
    /* I added a box shadow effect and it would scale by 1.06. */
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.06);
}



/* Main Content: Demo items 4-5 (Tasks) */
#Tasks-div {
    /* I set the display to flex and set its flex-direction to row. */
    display: flex;
    flex-direction: row;

    /* I set its width to 100% so that it would span its entire width. */
    width: 100%;

    /* I set its minimum height to 80 pixels. */
    min-height: 80px;

    /* I set the background color to a shade of light blue that has the hex color value "#BADFE7". */
    background-color: #BADFE7;

    /* I added 10 pixels of top margin. */
    margin-top: 10px;

    /* To horizontally and vertically center the content within the footer. */
    justify-content: center;
    align-items: center;
}

#Tasks-div h1{
    /* I set the background color to a shade of light blue that has the hex color value "#BADFE7". */
    background-color: #BADFE7;

    /* I then set the color of the text to a shade of blue that has the hex color value "#388087". */
    color: #388087;
}

.Tasks-Container {
    /* I set the display to flex. */
    display: flex;
    
    /* This is for the space between the two boxes. */
    justify-content: space-between;
    max-width: 750px;

    /* I set its margin to auto. */
    margin: auto;

    /* I added 25 pixels of both top and bottom margin.*/
    margin-top: 25px;
    margin-bottom: 25px;

}

.Tasks-box {
    /* I set the background color to a shade of light blue that has the hex color value "#BADFE7". */
    background-color: #BADFE7;

    /* I added 10 pixels padding on all sides. */
    padding: 10px;

    /* I rounded its corners to 5 pixels and added a box shadow effect. */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Tasks-box h2 {
    /* I center aligned the h2 text. */
    text-align: center;

    /* I added 10 pixels of bottom margin. */
    margin-bottom: 10px;

    /* I set the color of the text to a shade of blue that has the hex color value "#388087". */
    color: #388087;
}

.Tasks-box ul {
    /* I center aligned the text and remove its bulletpoints. */
    text-align: center;
    list-style-type: none;

    /* To remove the default padding. */
    padding: 0;
}

.Tasks-box li {
    /* I set the size of the text to 15 pixels.  */
    font-size: 15px;

    /* I then set the background-color to white. */
    background-color: white;

    /* I then set the color of the text to a shade of blue that has the hex color value "#388087". */
    color: #388087;

    /* I added 10 pixels padding on all sides. */
    padding: 10px;

    /* I added a transition effect. */
    transition: 0.3s ease;
}

.Tasks-box li:hover {
    /* I set the background color when hovered to a shade of light blue that has the hex color value "#BADFE7". */
    background-color: #BADFE7;
}

/* Main Content: Demo items 4-5 (Latest Announcement) */
#Latest-Announcement-div {
    /* I set the display to flex and set its flex-direction to row. */
    display: flex;
    flex-direction: row;

    /* I set the width to 100% to ensure that it would span the entire width. */
    width: 100%;

    /* I set the minimum height to 80 pixels. */
    min-height: 80px;

    /* I set the background color to a shade of light blue that has the hex color value "#BADFE7". */
    background-color: #BADFE7;

    /* I added 10 pixels of top margin. */
    margin-top: 10px;

    /* To horizontally and vertically center the content within the footer. */
    justify-content: center;
    align-items: center;
}

#Latest-Announcement-div h1{
    /* I set the background color to a shade of light blue that has the hex color value "#BADFE7". */
    background-color: #BADFE7;

    /* I then set the color of the text to a shade of blue that has the hex color value "#388087". */
    color: #388087;
}


/* The alert message box */
.Announcement {
    /* I added 20 pixels padding on all sides. */
    padding: 20px;

    /* I set the background color to orange. */
    background-color: orange;

    /* I set the text color to white. */
    color: white;
}

.Announcementbtn {
    /* I set the size of the "x" to 30 pixels. I also set the color of the "x" to orange and made it bold. */
    font-size: 30px;
    color: orange;
    font-weight: bold;

    /* To place it on the right. */
    float: right;

    /* To give it 5 pixels of rounded corners. */
    border-radius: 5px;

    /* I set the cursor to pointer so that the cursor would change into a pointer when hovered. */
    cursor: pointer;

    /* To add a transition effect. */
    transition: 0.3s;
}

.Announcementbtn:hover {
    /* The color of the text changes to a shade of blue that has the hex color value #388087, when hovered.*/
    color: #388087;
}


/* Footer */
footer {
    /* I set the display property to flex. */
    display: flex;

    /* I set the flex-direction to row. */
    flex-direction: row;

    /* I set the width of the footer to 100% to ensure that it would span the entire width of the container. */
    width: 100%;

    /* I set the minimum height of the footer to 50 pixels. */
    min-height: 50px;

    /* I added 10 pixels of top margin for the footer. */
    margin-top: 10px;

    /* To horizontally and vertically center the content within the footer. */
    justify-content: center;
    align-items: center;

    /* I set the background color of the footer to a shade of blue that has the hex color value "#388087". */
    background-color: #388087;

    /* I set the color of the text in the footer to white. */
    color: white;
}